<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <table border="solid">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            {% for user in users %}
                <tr>
                    <td>{{user.id_}}</td> <td>{{user.name}}</td> <td>{{user.email}}</td> <td>{{user.password}}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <p></p>
    <input type="submit" value="Add new user">
</body>
</html>